In [1]:
import requests
from bs4 import BeautifulSoup
import pandas

# Web Scraping using Beautiful Soup

In [2]:
r = requests.get("https://www.century21.com/real-estate/rock-springs-wy/LCWYROCKSPRINGS/")
c = r.content
soup = BeautifulSoup(c, "html.parser")
all = soup.find_all("div", {"class" : "property-card-primary-info"})

## Property Information include Address, Baths, Beds, Half_Baths, Price and Sqft

In [3]:
l = []
for item in all:
    d = {}
    d["Address"] = item.find("div", {"class" : "property-address"}).text.replace("\n","").replace(" ","")
    #print(item.find("div", {"class" : "property-address"}).text.replace("\n","").replace(" ",""))
    d["Price"] = item.find("a", {"class" : "listing-price"}).text.replace("\n","").replace(" ","")
    #print(item.find("a", {"class" : "listing-price"}).text.replace("\n","").replace(" ",""))
    if (len(item.find_all("div", {"class" : "property-beds"})) != 0):
        d["Beds"] = item.find_all("div", {"class" : "property-beds"})[0].find("strong").text
        #print(item.find_all("div", {"class" : "property-beds"})[0].find("strong").text + " beds")
    else:
        d["Beds"] = float('nan')
    if (len(item.find_all("div", {"class" : "property-baths"})) != 0):
        d["Baths"] = item.find_all("div", {"class" : "property-baths"})[0].find("strong").text
        #print(item.find_all("div", {"class" : "property-baths"})[0].find("strong").text
    else:
        d["Baths"] = float('nan')
    if (len(item.find_all("div", {"class" : "property-half-baths"})) != 0):
        d["Half_Baths"] = item.find_all("div", {"class" : "property-half-baths"})[0].find("strong").text
        #print(item.find_all("div", {"class" : "property-half-baths"})[0].find("strong").text + " half baths")
    else:
        d["Half_Baths"] = float('nan')
    if (len(item.find_all("div", {"class" : "property-sqft"})) != 0):
        d["Sqft"] = item.find_all("div", {"class" : "property-sqft"})[0].find("strong").text
        #print(item.find_all("div", {"class" : "property-sqft"})[0].find("strong").text + " square feet")
    else:
        d["Sqft"] = float('nan')
    #print("----------------")
    l.append(d)

In [4]:
l # viewing the information in a list

[{'Address': '14MileRd.Hwy191',
  'Price': '$1,995,000',
  'Beds': '6',
  'Baths': '3',
  'Half_Baths': '1',
  'Sqft': '6,880'},
 {'Address': '940Jefferson',
  'Price': '$189,000',
  'Beds': '3',
  'Baths': '1',
  'Half_Baths': nan,
  'Sqft': '5,782'},
 {'Address': '3409BrickyardAve',
  'Price': '$449,000',
  'Beds': '6',
  'Baths': '3',
  'Half_Baths': '1',
  'Sqft': nan},
 {'Address': '6121WildBuffaloCt',
  'Price': '$183,000',
  'Beds': '3',
  'Baths': '2',
  'Half_Baths': '1',
  'Sqft': '1,701'},
 {'Address': '412WalnutStreet',
  'Price': '$109,500',
  'Beds': '4',
  'Baths': '1',
  'Half_Baths': '1',
  'Sqft': '1,916'},
 {'Address': '1129HilltopDrive',
  'Price': '$1,101,900',
  'Beds': '4',
  'Baths': '5',
  'Half_Baths': '2',
  'Sqft': '10,300'},
 {'Address': '505BStreet',
  'Price': '$195,000',
  'Beds': '2',
  'Baths': nan,
  'Half_Baths': nan,
  'Sqft': nan},
 {'Address': '1183McTee',
  'Price': '$59,900',
  'Beds': '2',
  'Baths': nan,
  'Half_Baths': nan,
  'Sqft': nan},
 {'Address': '801RhodeIslandAve',
  'Price': '$137,000',
  'Beds': '4',
  'Baths': '1',
  'Half_Baths': nan,
  'Sqft': '1,760'},
 {'Address': '331ViaAssisi',
  'Price': '$315,000',
  'Beds': '4',
  'Baths': '3',
  'Half_Baths': '1',
  'Sqft': nan},
 {'Address': '53MoxaArch',
  'Price': '$225,000',
  'Beds': nan,
  'Baths': nan,
  'Half_Baths': nan,
  'Sqft': nan}]

# Converting the scraped data from lists into Pandas Dataframe

In [5]:
df = pandas.DataFrame(l)

In [6]:
df #viweing the pandas dataframe

              Address Baths Beds Half_Baths       Price    Sqft
0     14MileRd.Hwy191     3    6          1  $1,995,000   6,880
1        940Jefferson     1    3        NaN    $189,000   5,782
2    3409BrickyardAve     3    6          1    $449,000     NaN
3   6121WildBuffaloCt     2    3          1    $183,000   1,701
4     412WalnutStreet     1    4          1    $109,500   1,916
5    1129HilltopDrive     5    4          2  $1,101,900  10,300
6          505BStreet   NaN    2        NaN    $195,000     NaN
7           1183McTee   NaN    2        NaN     $59,900     NaN
8   801RhodeIslandAve     1    4        NaN    $137,000   1,760
9        331ViaAssisi     3    4          1    $315,000     NaN
10         53MoxaArch   NaN  NaN        NaN    $225,000     NaN

## Writing the dataframe into a CSV File

In [7]:
df.to_csv("Properties in Rock Springs.csv", index = False)